:root {
  --debug_col: rgb(7, 255, 230);
}

.shippori {
  font-family: "Shippori Mincho B1", serif;
}

.hina {
  font-family: "Hina Mincho", serif;
}

// HTML //////////////////////////////////////////
html {
  background-color: $bg-color;
}

body {
  background-image: url(@/assets/images/bg-img.png);
  background-repeat: repeat;
}

.pc {
  display: block;

  @include mq-m {
    display: none;
  }
}

.mobile {
  display: none;

  @include mq-m {
    display: block;
  }
}

// レイアウト //////////////////////////////////////////
.page-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  @include mq-d {
    padding: 0 0 200px;
  }

  @include mq-m {
    padding: 0 0 50px;
  }
}

.page-block {
  width: 100%;
  flex: 1;

  @include mq-d {
    max-width: 1000px + (16px * 2);
    padding: 50px 16px 50px;
  }

  @include mq-m {
    padding-left: size-m(8);
    padding-right: size-m(8);
    padding-top: size-m(50);
    padding-bottom: size-m(30);
  }
}

.header-block {
  @include mq-d {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  @include mq-m {
    margin-top: size-m(20);
    margin-bottom: size-m(30);
  }
}

.page-inner {
  padding-top: 100px;

  @include mq-m {
    padding-top: 10vw;
  }
}

.page-header {
  width: 100%;
  height: 55vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5vw;

  @include mq-m {
    height: 35vh;
  }
}

.page-title {
  color: #fff;
  font-size: 10vw;
}

.page-subtitle {
  font-size: 4vw;
}

/* タイトル ---------------------------------------------*/
.section-title {
  margin: auto;

  @include mq-d {
    width: 300px;
    margin-bottom: 20px;
  }

  @include mq-m {
    width: 60vw;
    margin-bottom: 10vw;
  }
}

/* ボタン ---------------------------------------------*/
.btn-block {
  display: flex;
  justify-content: center;
}

%btn-white {
  color: $btn-brown;
  border: 1px solid $btn-brown;
  padding: 18px 36px;
  transition: 0.3s;
  display: inline-block;
  font-size: 18px;
  font-family: "Shippori Mincho B1", serif;

  &:hover {
    color: $bg-color;
    background-color: $btn-brown;
  }
}

%btn-brown {
  color: $bg-color;
  background-color: $btn-brown;
  border: 1px solid $btn-brown;
  padding: 18px 36px;
  transition: 0.3s;
  display: inline-block;
  font-size: 18px;
  font-family: "Shippori Mincho B1", serif;

  &:hover {
    background-color: darken($btn-brown, 20%);
  }
}
.nomal-btn {
  @extend %btn-white;

  padding: 18px 36px;
}

.brown-btn {
  @extend %btn-brown;

  padding: 18px 36px;
}

.nomal-btn-vr {
  @extend %btn-white;

  padding: 36px 18px;
}

.pc {
  @include mq-m {
    display: none;
  }
}

.mobile {
  display: none;

  @include mq-m {
    display: block;
  }
}

// mixin ================================================================

.fuwa {
  opacity: 0;
  transform: translateY(50px);

  &.active {
    opacity: 1;
    transition: 0.6s;
    transform: translateX(0);
  }
}
